.solved {
  background-color: green;

}

.unsolved {
  background-color: gray;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
button {
  width: 200px;
}

.todoItem {
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.todoItem .todoItemButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.todoItem .todoItemButtons button {
  display: flex;
  padding: 2px 5px;
  width: 30px;
  height: 30px;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}